<h1>Changelog</h1>
<ul>
<li>
<p>2012-03-15 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 0.4 released</p>
</li>
<li>
<p>fixed a rare error when a request object went out of JS scope, and failed silently</p>
</li>
</ul>
</li>
<li>
<p>2012-02-13 Rúben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 0.3 released</p>
</li>
<li>
<p>trying to solve some problems some users reported when using this module
  with version 1.8.1 of the Titanium SDK</p>
</li>
</ul>
</li>
<li>
<p>2011-11-06 Rúben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 0.2 released</p>
</li>
<li>
<p>no changes on features, just a fix on the documentation/tweet_composer_view.html</p>
</li>
</ul>
</li>
<li>
<p>2011-10-10 Rúben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>initial 0.1 version</li>
</ul>
</li>
</ul>