<ul>
<li>
<p>2012-08-08 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 1.4 released</p>
</li>
<li>
<p>fixed logging format with newer Titanium SDK (the console log had formating errors)</p>
</li>
</ul>
</li>
<li>
<p>2012-06-11 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 1.3 released</p>
</li>
<li>
<p>fixed a problem with setting the id of the device was causing a module crash</p>
</li>
</ul>
</li>
<li>
<p>2012-04-30 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 1.2 released</p>
</li>
<li>
<p>fixed a random problem that made the app crash when settings the device identifier</p>
</li>
</ul>
</li>
<li>
<p>2012-03-31 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 1.1 released</p>
</li>
<li>
<p>based on Testflight SDK 1.0 final</p>
</li>
<li>
<p>added a new method setDeviceIdentifier that should only be used in development!!
  please read the documentation about this new method</p>
</li>
</ul>
</li>
<li>
<p>2012-03-13 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 1.0 released</p>
</li>
<li>
<p>fixed a problem when using the Titanium application in debug mode
  made Testflight eat all the logs</p>
</li>
</ul>
</li>
<li>
<p>2012-02-27 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 0.9 released</p>
</li>
<li>
<p>updated to Testflight SDK 0.8.3 final</p>
</li>
<li>
<p>added submitFeedback() call (see documentation and example)</p>
</li>
</ul>
</li>
<li>
<p>2012-01-11 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 0.8 released</p>
</li>
<li>
<p>updated to Testflight SDK 0.8.3 beta 1</p>
</li>
</ul>
</li>
<li>
<p>2012-01-02 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#107;&#101;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#107;&#101;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 0.7 released</p>
</li>
<li>
<p>fixed bugs with remote logging</p>
</li>
<li>
<p>fixed bugs with Testflight sessions ending when app goes to background
  and then not starting again when the app goes to the foreground</p>
</li>
</ul>
</li>
<li>
<p>2011-12-24 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 0.6 released</p>
</li>
<li>
<p>updated to Testflight SDK 0.8.2</p>
</li>
</ul>
</li>
<li>
<p>2011-11-22 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 0.5 released</p>
</li>
<li>
<p>updated to Testflight SDK 0.8.1</p>
</li>
<li>
<p>remote NSLog (Ti.API.log) stopped working</p>
</li>
</ul>
</li>
<li>
<p>2011-11-06 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>
<p>version 0.4 released</p>
</li>
<li>
<p>no new features, just better documentation</p>
</li>
</ul>
</li>
<li>
<p>2011-10-09 Ruben Fonseca <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#102;&#111;&#110;&#115;&#101;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<ul>
<li>Initial release</li>
</ul>
</li>
</ul>