<h1>benCoding.localNotify Module</h1>

<p>This module provides helper functions for creating Local Notifications within your Titanium iOS project. The localNotify is meant to replace the existing Titanium Schedule and Cancel methods.</p>
<h2>Before you start</h2>

<ul>
<li>You need Titanium 1.8.2 or greater. </li>
</ul>
<h2>Download the release</h2>

<p>This module is freely available on <a href="https://github.com/benbahrenburg/LocalNotify/">github</a>. Check the <a href="https://github.com/benbahrenburg/LocalNotify/tree/master/dist">dist folder</a> for a compiled release.</p>
<h2>Building from source?</h2>

<p>If you are building from source you will need to do the following:
* Modify the titanium.xcconfig file with the path to your Titanium installation</p>
<h2>Setup</h2>

<ul>
<li>Download the latest release from the <a href="https://github.com/benbahrenburg/LocalNotify/tree/master/dist">dist folder</a>  or you can build it yourself.</li>
<li>Install the bencoding.dictionary module. If you need help here is a "How To" <a href="https://wiki.appcelerator.org/display/guides/Configuring+Apps+to+Use+Modules">guide</a>. </li>
<li>You can now use the module via the commonJS require method, example shown below.</li>
</ul>
<pre><code>

var notify = require('bencoding.localnotify');

</code></pre>

<p>Now we have the module installed and avoid in our project we can start to use the components, see the feature guide below for details.</p>
<h2>benCoding.localNotify How To Example</h2>

<p>For detailed documentation please reference this project's documentation folder.
A code "How To" example is provided in the app.js located in the project's example folder.</p>
<h2>Methods</h2>

<hr />

<h3>scheduleLocalNotification</h3>

<p>This method takes all of the same parameters as the <a href="http://docs.appcelerator.com/titanium/2.0/index.html#!/api/Titanium.App.iOS-method-scheduleLocalNotification">Titanium official API</a>, but does not return a notification object. </p>
<p>Because the notification object is not returned, you can schedule your notifications without requiring a background service.  For example you can use the below code sample under a button click event. </p>
<p>The below sample shows you how to schedule a local notification to run in 30 seconds from now.
<pre><code></p>
<pre><code>notify.scheduleLocalNotification({
    alertBody:"This is a test of benCoding.localNotify",
    alertAction:"Just a test",
    userInfo:{"id":1,"hello":"world","category":"foo"},
    date:new Date(new Date().getTime() + 30000) 
});

alert("LocalNotification Scheduled");
</code></pre>
<p></code></pre></p>
<h3>activeScheduledNotifications</h3>

<p>You can use this method to query your scheduled local notifications.  Simply call this method and provide a callback method similar to what is shown below.  The callback will be returned a collection with all of the available information about your scheduled local notifications.</p>
<p>The below sample shows how to create a callback that queries your scheduled local notifications. You can then loop through the results in your callback function.
<pre><code></p>
<pre><code>//This is our callback for our scheduled local notification query
function localNotificationCallback(e){
    Ti.API.info("Let's how many local notifications we have scheduled'");
    Ti.API.info("Scheduled LocalNotification = " + e.scheduledCount);   
    alert("You have " +  e.scheduledCount + " Scheduled LocalNotification");

    var test = JSON.stringify(e);
    Ti.API.info("results stringified" + test);
};

//Call this method and return a callback with the results
notify.activeScheduledNotifications(localNotificationCallback);
</code></pre>
<p></code></pre></p>
<h3>returnScheduledNotifications</h3>

<p>This method allows you to query your scheduled notification similar to activeScheduledNotifications but without the callback.</p>
<p>Simply call the returnScheduledNotifications method and you will be returned a collection with all of the available information about your scheduled local notifications.</p>
<p>The below sample shows how to get a resultset by using this method.
<pre><code></p>
<pre><code>//Call this method to return a collection with information on your scheduled notifications
var results = notify.returnScheduledNotifications();
Ti.API.info("Let's how many local notifications we have scheduled'");
Ti.API.info("Scheduled LocalNotification = " + results.scheduledCount); 
alert("You have " +  results.scheduledCount + " Scheduled LocalNotification");
var test = JSON.stringify(results);
Ti.API.info("results stringified" + test);
</code></pre>
<p></code></pre></p>
<h3>findLocalNotificationsByKey</h3>

<p>This method allows you to query your scheduled notification similar to activeScheduledNotifications but with using a value and key combination.  This method will return all notifications that has a matching UserInfo with the provided value and key combination.  In the below example, we return all notifications that have a userInfo.category property with a value of foo.</p>
<p>The below sample shows how to get a resultset by using this method.
<pre><code></p>
<pre><code>//Call this method to return a collection with information on your scheduled notifications
var results = notify.findLocalNotificationsByKey("foo","category");
Ti.API.info("Let's how many local notifications we have scheduled'");
Ti.API.info("Scheduled LocalNotification = " + results.scheduledCount); 
alert("You have " +  results.scheduledCount + " Scheduled LocalNotification");
var test = JSON.stringify(results);
Ti.API.info("results stringified" + test);
</code></pre>
<p></code></pre></p>
<h3>searchLocalNotificationsByKey</h3>

<p>This method works in the same way as findLocalNotificationsByKey, but provides a callback method.</p>
<p>In the below example, a callback is returned with all notifications that have a userInfo.category property with a value of foo.</p>
<p>The below sample shows how to get a resultset by using this method.
<pre><code></p>
<pre><code>//This is our callback for our scheduled local notification query
function localNotificationCallback(e){
    Ti.API.info("Let's how many local notifications we have scheduled'");
    Ti.API.info("Scheduled LocalNotification = " + e.scheduledCount);   
    alert("You have " +  e.scheduledCount + " Scheduled LocalNotification");

    var test = JSON.stringify(e);
    Ti.API.info("results stringified" + test);
};

//Call this method and return a callback with the results
notify.searchLocalNotificationsByKey("foo","category",localNotificationCallback);
</code></pre>
<p></code></pre></p>
<h3>cancelLocalNotification</h3>

<p>This method allows you to cancel a specific scheduled local notification using the userInfo dictionary.  To do this we use the convention of providing an id within the userInfo dictionary upon notification creation.</p>
<p>In the above scheduleLocalNotification example you see we use userInfo:{"id":1,"hello":"world"} when creating the notification.<br />
</p>
<p>The method cancelLocalNotification returns an integer with the number of scheduled notifications canceled. Since you can schedule one or more notifications with the same userInfo.id property this will let you know how many where removed without having to re-run the activeScheduledNotifications method. </p>
<p>The below sample shows how to cancel a local notification with the userInfo id property set to 1.  After canceling we query the saved notifications to confirm the cancel was successful.</p>
<pre><code>

//We are going to remove all of the LocalNotifications scheduled with a userInfo id value of 1
    var canceledCount = notify.cancelLocalNotification(1);
    alert("You have canceled " + canceledCount + " notifications");
    //Now query the scheduled notifications to make sure our local notification was canceled
    notify.activeScheduledNotifications(localNotificationCallback);

</code></pre>

<h3>cancelLocalNotificationByKey</h3>

<p>This method allows you to cancel a specific scheduled local notification using any key defined in the userInfo dictionary.<br />
</p>
<p>In the above scheduleLocalNotification example you see we use userInfo:{"id":1,"hello":"world","category":"foo"} when creating the notification.<br />
</p>
<p>You can use any of the defined keys to cancel an event. In the below example, you see that a key of "category" is provided along with the value of "foo". This will remove all notifications that meet this criteria.</p>
<p>The method cancelLocalNotificationByKey returns an integer with the number of scheduled notifications canceled. Since you can schedule one or more notifications with the same property information this will let you know how many where removed without having to re-run the activeScheduledNotifications method. </p>
<p>The below sample shows how to cancel a local notification with the userInfo "category" property set to "foo".  After canceling we query the saved notifications to confirm the cancel was successful.</p>
<pre><code>

//We are going to remove all of the LocalNotifications scheduled with a userInfo id value of 1
    var canceledCount =  notify.cancelLocalNotificationByKey("foo","category");
    alert("You have canceled " + canceledCount + " notifications");
    //Now query the scheduled notifications to make sure our local notification was canceled
    notify.activeScheduledNotifications(localNotificationCallback);

</code></pre>

<h3>cancelAllLocalNotifications</h3>

<p>This method cancels all scheduled local notifications. </p>
<p>Please note this method works the same as the native Titanium method discussed <a href="http://docs.appcelerator.com/titanium/2.0/index.html#!/api/Titanium.App.iOS-method-scheduleLocalNotification">here</a>.</p>
<p>The below sample shows how to cancel all scheduled local notifications.
<pre><code></p>
<pre><code>//Cancel all scheduled local notifications
notify.cancelAllLocalNotifications();
</code></pre>
<p></code></pre></p>
<h2>Licensing & Support</h2>

<p>This project is licensed under the OSI approved Apache Public License (version 2). For details please see the license associated with each project.</p>
<p>Developed by <a href="http://bahrenburgs.com">Ben Bahrenburg</a> available on twitter <a href="http://twitter.com/benCoding">@benCoding</a></p>
<h2>Learn More</h2>

<p><hr />
<h3>Twitter</h3></p>
<p>Please consider following the <a href="http://www.twitter.com/benCoding">@benCoding Twitter</a> for updates 
and more about Titanium.</p>
<h3>Blog</h3>

<p>For module updates, Titanium tutorials and more please check out my blog at <a href="http://benCoding.com">benCoding.Com</a>. </p>