<h1>Change Log</h1>

<p><pre>
v1.6.0  MOD-849: Include receipt in restored transaction notification
        Integrated Apple's verification code for "In-App Purchase Receipt Validation on iOS" and
        refactored verifyReceipt API to accommodate improvements.
        Added a new module property: receiptVerificationSandbox (used by the 'verifyReceipt' method)
        Added a new module property: receiptVerificationSharedSecret (used by the 'verifyReceipt' method)
        Updated the example to support receipt verification (new switch on the UI and new code on the callback method to call 'verifyReceipt' for each transaction)
        Updated the documentation to reflect the changes
        DEPRECATED the 'callback', 'sandbox', and 'sharedSecret' properties of the dictionary object passed to the 'verifyReceipt' method
        Added new 'callback' parameter to the 'verifyReceipt' method
        Added additional properties to the dictionary object returned for purchased and restored transactions for consistency and use in passing to 'verifyReceipt'</p>

<p>v1.5    MOD-533: Fixed a bug that prevented the "restoredCompletedTransactions" event from firing.
        Fixed a couple of logic errors in the example/app.js (namely, using identifier instead of productIdentifier when restoring transactions).</p>

<p>v1.4    MOD-409: Fixed regression introduced by 1.8.1: "invalid" will no longer be present when empty.</p>

<p>v1.3    MOD-248: Completely revamped the example to demonstrate how to setup and use the module.</p>

<p>v1.2    Changed the signature of Ti.Storekit.verifyReceipt to allow you to pass in a sharedSecret string, thus adding
            support for auto renewable subscriptions.
        MOD-195: Fixed a memory related crash when requesting products.</p>

<p>v1.1    Added support for "restoredCompletedTransactions" so that past purchases can be restored for the user.
        Example and documentation have been updated to show how to use this new method.</p>

<p>v1.0    Initial Release</p>
