<h1>Ti.richtext Titanium iOS Module</h1>
<p>Titanium iOS module for <a href="https://github.com/Cocoanetics/DTCoreText">Cocoanetics DTCoreText</a>;</p>
<h2>Installation</h2>
<p>Clone git repo and move to Titanium Modules Folder
<code>bash
$ git clone https://github.com/euforic/ti.richtext.git
$ cd ti.richtext
$ cp ti.richtext-iphone-0.1.0.zip /Library/Application Support/Titanium/</code></p>
<p>Register your module with your application by editing <code>tiapp.xml</code> and adding your module.</p>
<p><code>xml
&lt;modules&gt;
  &lt;module version="0.0.1"&gt;ti.richtext&lt;/module&gt;
&lt;/modules&gt;</code></p>
<h2>Usage</h2>
<h3>Create Ti.richtext View</h3>
<p><code>javascript
var rtext = require('ti.richtext');
var view = rtext.createView({
  width: 200,
  height: 300,
  font: font,
  html: "&lt;h2&gt;Big H2 Message!&lt;/h2&gt;&lt;p&gt;Hello, &lt;b color='red'&gt;bold&lt;/b&gt;! This is all the &lt;i&gt;same text string&lt;/i&gt; with added style tags.&lt;/p&gt;",
});</code></p>
<h3>Features</h3>
<ul>
<li>CSS Styles</li>
<li>Line Height</li>
<li>Text Alignment</li>
<li>Image Handling</li>
<li>Video Handling</li>
<li>Link Handling</li>
<li>Custom Fonts</li>
<li>Custom Subviews</li>
<li>Nested Lists</li>
<li>Custom Objects</li>
<li>Text Boxes</li>
<li>Emojicons</li>
<li>Subscripts/Supperscripts</li>
</ul>