<ul>
<li><p>2012-04-24 Ruben Fonseca <a href="&#x6d;&#97;&#105;&#108;&#x74;&#111;&#x3a;f&#111;&#110;&#115;&#101;&#107;a&#x40;&#103;ma&#x69;l&#x2e;&#x63;o&#109;">f&#111;&#110;&#115;&#101;&#107;a&#x40;&#103;ma&#x69;l&#x2e;&#x63;o&#109;</a></p>

<ul>
<li><p>version 2.9 released</p></li>
<li><p>fixed a bug where the Mail wasn't showing the user defined Subject</p></li>
</ul></li>
<li><p>2012-04-10 Ruben Fonseca <a href="&#x6d;&#x61;&#x69;&#108;&#116;&#111;&#x3a;&#x66;&#111;&#x6e;&#x73;&#x65;&#107;&#97;&#x40;&#x67;&#x6d;&#x61;&#105;&#108;&#x2e;&#99;&#111;&#109;">&#x66;&#111;&#x6e;&#x73;&#x65;&#107;&#97;&#x40;&#x67;&#x6d;&#x61;&#105;&#108;&#x2e;&#99;&#111;&#109;</a></p>

<ul>
<li><p>version 2.8 released</p></li>
<li><p>fixed a problem with compatibility with Titanium SDK 1.7.5</p></li>
</ul></li>
<li><p>2012-03-14 Ruben Fonseca <a href="&#x6d;ai&#108;&#x74;o&#58;&#102;&#x6f;&#110;&#x73;&#101;&#107;&#97;&#64;&#103;&#x6d;&#x61;&#105;&#x6c;&#x2e;&#x63;&#111;&#109;">&#102;&#x6f;&#110;&#x73;&#101;&#107;&#97;&#64;&#103;&#x6d;&#x61;&#105;&#x6c;&#x2e;&#x63;&#111;&#109;</a></p>

<ul>
<li><p>version 2.7 released</p></li>
<li><p>fixed a problem with i18n not working</p></li>
<li>new i18n key format
the previous keys still work, but use of the new examples/strings.xml is recommended</li>
</ul></li>
<li><p>2012-03-10 Ruben Fonseca <a href="&#x6d;&#97;i&#108;&#116;&#111;&#58;&#x66;&#x6f;n&#x73;&#x65;&#107;a&#x40;gm&#97;&#105;&#x6c;&#46;&#x63;&#x6f;&#x6d;">&#x66;&#x6f;n&#x73;&#x65;&#107;a&#x40;gm&#97;&#105;&#x6c;&#46;&#x63;&#x6f;&#x6d;</a></p>

<ul>
<li><p>version 2.6 released</p></li>
<li><p>fixed a crash when the programmer call .configure more than once</p></li>
<li><p>fixed a rare crash with Facebook login</p></li>
</ul></li>
<li><p>2012-02-27 Ruben Fonseca <a href="&#109;&#97;&#105;&#x6c;&#x74;&#x6f;&#58;&#102;&#111;&#x6e;s&#x65;&#107;&#x61;&#x40;&#103;&#109;&#97;&#x69;&#x6c;&#46;&#99;&#111;&#109;">&#102;&#111;&#x6e;s&#x65;&#107;&#x61;&#x40;&#103;&#109;&#97;&#x69;&#x6c;&#46;&#99;&#111;&#109;</a></p>

<ul>
<li><p>version 2.5 released</p></li>
<li><p>fixed a rare crash when the app comes from Facebook from background</p></li>
</ul></li>
<li><p>2012-02-03 Ruben Fosneca <a href="&#x6d;&#x61;&#105;&#108;t&#111;&#58;&#102;&#111;&#110;&#x73;&#x65;&#107;&#97;&#64;&#x67;&#109;&#x61;&#105;&#x6c;&#46;&#x63;&#x6f;m">&#102;&#111;&#110;&#x73;&#x65;&#107;&#97;&#64;&#x67;&#109;&#x61;&#105;&#x6c;&#46;&#x63;&#x6f;m</a></p>

<ul>
<li><p>version 2.4 released</p></li>
<li><p>fixed all issues with interface rotation bugs</p></li>
</ul></li>
<li><p>2012-01-12 Ruben Fonseca <a href="&#109;&#97;&#x69;&#108;&#x74;&#111;:&#x66;&#x6f;&#x6e;&#x73;e&#107;&#97;&#x40;&#x67;m&#x61;&#105;l&#46;&#99;&#111;&#109;">&#x66;&#x6f;&#x6e;&#x73;e&#107;&#97;&#x40;&#x67;m&#x61;&#105;l&#46;&#99;&#111;&#109;</a></p>

<ul>
<li><p>version 2.3 released</p></li>
<li><p>fixed a issue with compiling the module for device (double symbols)</p></li>
<li><p>fixed a issue with facebook SSO not working</p></li>
</ul></li>
<li><p>2012-01-09 Ruben Fonseca <a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#x6f;&#x3a;&#102;&#x6f;&#x6e;&#115;&#x65;k&#x61;&#64;&#x67;&#x6d;&#x61;i&#x6c;&#x2e;&#x63;&#x6f;&#109;">&#102;&#x6f;&#x6e;&#115;&#x65;k&#x61;&#64;&#x67;&#x6d;&#x61;i&#x6c;&#x2e;&#x63;&#x6f;&#109;</a></p>

<ul>
<li><p>version 2.2 released</p></li>
<li><p>fixed a issue with specifying custom sharers list on Sharers.plist</p></li>
<li><p>re-added "hide<em>more</em>button" to the configuration options</p></li>
</ul></li>
<li><p>2012-01-08 Ruben Fonseca <a href="&#x6d;a&#x69;&#x6c;&#x74;&#x6f;:&#102;&#111;&#110;&#115;&#x65;&#x6b;&#x61;&#64;&#x67;&#x6d;a&#x69;&#108;&#46;&#x63;&#x6f;&#109;">&#102;&#111;&#110;&#115;&#x65;&#x6b;&#x61;&#64;&#x67;&#x6d;a&#x69;&#108;&#46;&#x63;&#x6f;&#109;</a></p>

<ul>
<li><p>version 2.1 released</p></li>
<li><p>fixed a issue when compiling projects to iOS devices. Facebook
module wasn't linked</p></li>
</ul></li>
<li><p>2011-12-27 Ruben Fonseca <a href="&#109;&#x61;&#x69;&#108;&#x74;&#111;&#58;&#x66;&#111;&#x6e;&#x73;&#x65;&#107;&#x61;&#64;&#x67;&#109;&#97;&#x69;&#108;&#46;&#x63;&#x6f;m">&#x66;&#111;&#x6e;&#x73;&#x65;&#107;&#x61;&#64;&#x67;&#109;&#97;&#x69;&#108;&#46;&#x63;&#x6f;m</a></p>

<ul>
<li><p>version 2.0 released</p></li>
<li><p>MAJOR NEW VERSION, based on the new ShareKit 2.0 codebase</p></li>
<li><p>some things have changed! Please re-read all the documentation because
some of the changes are incompatibel with the previous versions</p></li>
<li><p>Added more sharers: Vkontakte, Evernote, Foursquare, Flickr, LinkedIn</p></li>
<li><p>Support for the native iOS5 Twitter Framework</p></li>
<li><p>Support for the Facebook SSO</p></li>
<li><p>Again, PLEASE read the documentation again to see the list of changes</p></li>
</ul></li>
<li><p>2011-12-23 Ruben Fonseca <a href="&#109;&#x61;&#x69;&#108;t&#x6f;&#x3a;&#x66;o&#110;&#115;&#101;&#107;&#97;&#64;&#x67;&#109;&#97;&#105;&#108;&#x2e;&#x63;&#x6f;&#109;">&#x66;o&#110;&#115;&#101;&#107;&#97;&#64;&#x67;&#109;&#97;&#105;&#108;&#x2e;&#x63;&#x6f;&#109;</a></p>

<ul>
<li><p>version 1.2 released</p></li>
<li><p>fixes compatibility with Titanium SDK 1.8.0.1</p></li>
</ul></li>
<li><p>2011-12-09 Ruben Fonseca <a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#x6f;&#58;&#x66;&#x6f;&#110;s&#101;&#x6b;&#x61;&#64;&#x67;&#x6d;&#x61;i&#x6c;&#x2e;&#x63;&#111;&#x6d;">&#x66;&#x6f;&#110;s&#101;&#x6b;&#x61;&#64;&#x67;&#x6d;&#x61;i&#x6c;&#x2e;&#x63;&#111;&#x6d;</a></p>

<ul>
<li><p>version 1.1 released</p></li>
<li><p>fixed a bug with localization of the "Sent to Twitter" string</p></li>
</ul></li>
<li><p>2011-11-06 Ruben Fonseca <a href="&#x6d;&#x61;&#105;&#x6c;&#x74;&#111;&#x3a;&#102;&#111;&#x6e;&#x73;&#101;&#107;&#x61;&#64;&#103;&#x6d;&#97;&#105;&#108;&#46;&#x63;&#111;&#109;">&#102;&#111;&#x6e;&#x73;&#101;&#107;&#x61;&#64;&#103;&#x6d;&#97;&#105;&#108;&#46;&#x63;&#111;&#109;</a></p>

<ul>
<li><p>version 1.0 released</p></li>
<li><p>no new features, just added changelog</p></li>
</ul></li>
<li><p>2011-20-24 Ruben Fonseca <a href="ma&#105;&#108;&#x74;&#111;&#x3a;&#102;&#x6f;&#110;&#115;&#101;&#x6b;&#97;&#x40;&#x67;&#x6d;&#x61;&#x69;&#108;&#46;&#99;&#111;&#109;">&#102;&#x6f;&#110;&#115;&#101;&#x6b;&#97;&#x40;&#x67;&#x6d;&#x61;&#x69;&#108;&#46;&#99;&#111;&#109;</a></p>

<ul>
<li><p>version 0.8 released</p></li>
<li><p>fixes problems with modal windows and iOS 5</p></li>
</ul></li>
<li><p>2011-10-21 Ruben Fonseca <a href="&#x6d;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#x6f;&#x6e;&#115;&#x65;&#x6b;&#x61;&#64;&#x67;&#109;&#97;&#105;&#108;&#x2e;c&#x6f;&#x6d;">&#102;&#x6f;&#x6e;&#115;&#x65;&#x6b;&#x61;&#64;&#x67;&#109;&#97;&#105;&#108;&#x2e;c&#x6f;&#x6d;</a></p>

<ul>
<li><p>version 0.7 released</p></li>
<li><p>you can now share directly to one specific sharer
(see the example/app.js and the documentation)</p></li>
<li><p>added option to hide the "More" button on the actionsheet
(see the "hide<em>more</em>button" option on example/app.js)</p></li>
</ul></li>
</ul>
