<div style="align:center">
<h2>Ti.RichText</h2>
<h3>Introduction</h3>
<p>This project aims to add the methods which allow creation of <font face="Courier" color="blue">rich text</font> from HTML code.
This is useful for drawing simple rich text - like this document - without having to use a Ti.UI.Webview.</p>
<p><img src="examples/Euforic.jpg" width="100" height="100"></p>
<p style="color:purple;"><i>Hi! I'm Euforic and I hope you enjoy!</i></p>
<h3>Features</h3>
<p>At <em>present</em> the following tags are <b>supported</b>:</p>
<ul><li>Headers <b>H1</b> - <b>H6</b></li><li>Paragraphs: <b>P</b></li><li>Bold: <b>B</b>, <b>STRONG</b></li><li>Italic: <b>I</b>, <b>EM</b></li>
<li>Underline <b>U</b></li>
<li>Superscript <b>SUP</b> and Subscript <b>SUB</b>, e.g. e = mc<sup>2</sup></li>
<li>Strike Out <b>DEL</b>, e.g. <del>Something Removed</del> or <b>STRIKE</b> e.g. <strike>Something Striked</strike></li>
<li><b>FONT</b> (face,color and size 1-7)</li>
<li>Horizontal Rule <b>HR</b> (coloring via background-color style, simplified)</li>
<li>Hyperlinks <b>A</b> (<a>Formatting</a> only, clickable as custom view)</li>
<li>Unordered Lists <b>LI</b></li>
<li>Ordered Lists <b>OL</b></li></ul>
</div>