<h1>Custom Subviews</h1>
<p>Hyperlinks are implemented via attaching a custom button over glyph runs that make up a hyperlink. Multiple glyph runs in the same line are merged for one single subview. A hyperlink wrapping over several lines are multiple buttons which are linked via a GUID so that they highlight together</p>
<p>Here's an example involving multiple gylph runs resulting from Chinese characters:<br>
<a href='123'>Here are some chinese Glyphs #草原牧马# 草原 making up a hyperlink that also wraps over two lines bla bla bla bla bla bla bla bla bla bla bla bla</a></p>
<p>Follow <a href="http://twitter.com/euforic">@euforic</a> on Twitter</p>
