<h1>Video</h1>
<h2>HTML5 Video</h2>
<p>This demonstrates support for the HTML5 VIDEO (once it gets implemented)</p>
<video width="320" height="240" src="http://shapeshed.com/examples/HTML5-video-element/video/320x240.m4v" loop="loop" x-webkit-airplay="allow" controls="controls">
					Your browser doesn't support the video tag. You can <a href="http://shapeshed.com/examples/HTML5-video-element/video/320x240.m4v">download the video here.</a>
				</video>


<h2>To Do</h2>
<ul>
<li>Add Rotation when video in fullscreen - there's a bug causing the navigation bar to shift under the status bar if Rotation is enabled</li>
<li>Support for the different kinds of attributes to map to properties of media player</li>
<li>Hide text contained in recognized tags</li>
</ul>

<h2>YouTube in IFRAME</h2>
<iframe title="YouTube video player" class="youtube-player" type="text/html" width="320" height="480" src="http://www.youtube.com/embed/4L2IE2YD1wg?color1=d6d6d6&amp;color2=f0f0f0&amp;border=0&amp;fs=1&amp;hl=en&amp;loop=0&amp;showinfo=0&amp;iv_load_policy=3&amp;showsearch=0&amp;rel=1&amp;hd=1" frameborder="0" allowfullscreen></iframe>