
	<body>
		<h1>
			<span style="font-family: arial, helvetica, sans-serif; ">Thank You</span></h1>
		<p>
			<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Special thanks go to my family for putting up with me during the long process of development, for all the advice they gave me, the feedback and the great moral support.</span></span></p>
		<p>
			<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Another special thanks goes out to all the friends who&nbsp;not only gave me feedback put were patient enough to go through testing with me.&nbsp;</span></span></p>
		<ul>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Olivier Morandi - for the modules, technical support &amp; advice.&nbsp;</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Tiziana Foglieni</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Nicola Internullo</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Federica Foglieni</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Lucia Cesari</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Salvo</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Chiara Cenini</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Raphael Jouvenat</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Lisa Yao</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Pierre</span></span></li>
			<li>
				<span style="font-size:16px;"><span style="font-family: arial, helvetica, sans-serif; ">Elodie Choquet</span></span></li>
		</ul>
		<p style="margin-left:.5in;">
			&nbsp;</p>
		<p style="margin-left:.5in;">
			&nbsp;</p>

